.forgot-password-form {
  background-color: cornsilk;
}
h2 {
  text-align: center;
}
.forgot-password-submit {
  width: 100%;
}
.forgot-password-signup {
  width: 100%;
  text-align: center;
  margin-top: 2px;
}
.forgot-password {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.forgot-password-container {
  width: 100%;
  max-width: 400px;
}
.forgot-password-login {
  text-align: center;
}
