.user-profile {
  border: 3px solid black;
}

.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.dashboard-container {
  width: 100%;
  max-width: 400px;
}
.signout-from-dash {
  width: 100%;
}
h2 {
  text-align: center;
}
