.user-profile {
  border: 3px solid black;
}
.update-profile {
  width: 100%;
  margin-top: 3px;
}
.signout-from-dash {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
h2 {
  text-align: center;
}
